.education {
    margin: auto;
}

.education-container {
    width: 100%;
    padding: 1rem 0;
}

.education-ditails {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

.education-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid #3333;
    border-radius: .1rem;
}

.education-data {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem .5rem;
    border-top: .3rem solid #333;
    border-bottom: .3rem solid #333;
    background: #fff;
    border-radius: .5rem;
}

.education-year {
    font-size: 1rem;
    font-weight: 400;
}

.education-course {
    font-size: 1.5rem;
    font-weight: 600;
}

.education-degree {
    font-size: 1.1rem;
    font-weight: 500;
}