.services-title {
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.service-container{
    width: 100%;
    display: flex;
    gap: 1rem;
}

.service-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem .5rem;
    overflow: hidden;
    border: 1px solid #3333;
    border-radius: .5rem;
}

.service-image{
    width: 50px;
    margin: auto;
    padding: .5rem;
    background: #3333;
    border-radius: 10px;
}

.service-content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.service-title{
    font-size: 1.8rem;
    font-weight: 600;
}

.service-description{
    font-size: 1.2rem;
    font-weight: 500;
}

.service-btn{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (max-width:768px) {
    .service-container{
        width: 100%;
        flex-wrap: wrap;
    }
}